<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">


    <!-- ========================================= -->
    <!-- PERMISOS -->
    <!-- ========================================= -->

    <!-- Permiso para obtener ubicación aproximada -->
    <uses-permission
        android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- Permiso para obtener ubicación precisa -->
    <uses-permission
        android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- Permiso para utilizar cámara / flash -->
    <uses-permission
        android:name="android.permission.CAMERA" />


    <!-- ========================================= -->
    <!-- HARDWARE -->
    <!-- ========================================= -->

    <!-- Indicamos que podemos utilizar el flash -->
    <!-- required=false permite instalar la app -->
    <!-- incluso si el dispositivo no tiene flash -->

    <uses-feature
        android:name="android.hardware.camera.flash"
        android:required="false" />


    <!-- ========================================= -->
    <!-- APLICACIÓN -->
    <!-- ========================================= -->

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Semana7">


        <!-- ===================================== -->
        <!-- PANTALLA INICIAL (BIENVENIDA / LAUNCHER) -->
        <!-- ===================================== -->

        <activity
            android:name=".BienvenidaActivity"
            android:exported="true">

            <intent-filter>

                <!-- Indica que esta es la pantalla inicial -->
                <action
                    android:name="android.intent.action.MAIN" />

                <!-- Aparece en el menú principal del teléfono -->
                <category
                    android:name="android.intent.category.LAUNCHER" />

            </intent-filter>

        </activity>


        <!-- ===================================== -->
        <!-- PANTALLA PRINCIPAL DE OPCIONES -->
        <!-- ===================================== -->

        <activity
            android:name=".MainActivity"
            android:exported="false" />


        <!-- ===================================== -->
        <!-- SEGUNDA PANTALLA -->
        <!-- ===================================== -->

        <activity
            android:name=".SegundaActivity"
            android:exported="false" />


        <!-- ===================================== -->
        <!-- TERCERA PANTALLA -->
        <!-- ===================================== -->

        <activity
            android:name=".TerceraActivity"
            android:exported="false" />


    </application>

</manifest>